<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="registration" data-hook>
  <div id="account" class="columns alpha eight">
    <%= render template: 'spree/user_sessions/new' %>
  </div>
</div>


