<div class="text-left contact_us">
如欲与我们取得联络,烦请您发邮件至info@peaudefee.com,我们的相关人员 会在24小时之内就您的来信进行协助,谢谢!<br>
For any inquiries, please contact us at info@peaudefee.com, our customer service will assist you within 24 hours upon receiving your email, thank you!
</div>
