<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_1" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        1.私隐
      </div>
    </a>
  </div>
  <div id="pri_collapse_1" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      Peau de Fée（’pou’-‘de’-‘fei’）意识到保障到访Peau de Fée网站的所有消费者（“您”或“使用者”）的私隐的重要性。  我们亦相信，告知您我们将如何使用您的个人信息，并让您可选择将如何使用此等信息数据至为重要。基于此等理由，我们鼓励您仔细阅读此私隐政策。  此私隐政策乃发给并适用于到访下列各项的人士：在以中华人民共和国消费者为对象的www.peaudefee.com可接达的Peau de Fée网站（以及与包括透过Peau de Fée网站或Peau de Fée管理赞助的其他推广网站（例如在第三方社交网路服务上的迷你网站或网页）可接达的任何其他Peau de Fée网站或网页）（统称“有关网站”）的该等部份。  此私隐政策仅适用于我们透过有关网站所收集的信息，并不引伸至适用于任何其它网站。透过有关网站所收集的个人信息将直接传送至存置在中华人民共和国境内及境外的服务器。因此，我们可为下文所述目的而将您的个人信息移转至其它国家/地区。  中华人民共和国法律应适用于透过有关网站所收集的个人信息（按下文第2.a.条所界定）。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_2" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        2.所有权权利 / 网站材料的使用
      </div>
    </a>
  </div>
  <div id="pri_collapse_2" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      Peau de Fée拥有有关网站的一切权利、所有权及利益及/或拥有在有关网站上（包括在社交网路网站上）的内容及应用程式。  Peau de Fée拥有在有关网站上的一切材料的一切著作权，或具有从第三方取得可在有关网站上使用材料的有效权利。Peau de Fée亦拥有在有关网站上或与有关网站相关所使用的一切商标、服务标记、营业名称、图样标志及网域名称，或具有从第三方取得可使用任何该等材料的有效权利。为任何未经明确允许的目的而变更或使用来自有关网站的材料，皆属侵犯Peau de Fée的著作权及其他专有权利。严禁在未取得Peau de Fée事先书面同意下使用本网站的材料。  有关网站的任何部份除供浏览目的之外，在未取得Peau de Fée事先书面同意下，皆不得以任何方式复制、重制、重新刊登、上载、张贴、传送或散布。此项禁止规定亦包括以框架方式将任何内容由有关网站连结，以及未获授权的连结。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_3" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        3.免责声明/ 法律责任限制
      </div>
    </a>
  </div>
  <div id="pri_collapse_3" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      使用或浏览有关网站所涉风险将由您自行承担。或在设立或提供有关网站时代表  Peau de Fée或以其他方式与  Peau de Fée有联系的任何人士，皆不须因您使用有关网站而造成的任何直接、间接、特殊、惩罚性、连带、惩戒性或相应而生的损害赔偿负上法律责任。在法律许可的范围内且不受限于任何前述规定下，在有关网站上的各项信息均以“现况”方式向您提供，并无任何性质的明示或隐含保证，包括但不限于有关适销性、对某特别用途的适用性、不含电脑病毒或不侵权的隐含保证。由于某些司法管辖区并不容许在隐含保证上的限制，或对相应而生或连带损害赔偿的法律责任限制，故以上限制对您未必适用。请查看您的当地法律。  您因登录或报名参加或向有关网站提出相关问题而藉电子邮件向  Peau de Fée提交的应邀提供的信息，及/或购买产品，按情况而定，均受我们的私隐政策规限。一切非应邀提供的评论、意见、或其他陈述，包括意念、概念、技术、知识及类似信息，均不会被  Peau de Fée视为机密处理，而  Peau de Fée可按其认为适当的任何方式来使用该等材料。有关这方面的进一步息，请参阅我们的私隐政策。  价格  在适用的情況下，本官网上提供的价格为人民币(含稅)，仅供参考，不能做为销售依据。 有关价格与  Peau de Fée在中国的第三方零售精品店铺所定的价格一致。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_4" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        4.连结
      </div>
    </a>
  </div>
  <div id="pri_collapse_4" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      Peau de Fée对与有关网站连结的第三方网站概不负责。Peau de Fée对任何该等网站或在该等网站上提供的货品或服务并不作出保证。Peau de Fée对在该等被连结网站上所提供的任何信息的准确性，及由该等网站所提供或从该等网站所购买的任何货品或服务不承担任何责任。Peau de Fée无须对与有关网站连结的任何网站的内容负上法律责任或责任。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_5" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        5.信息准确性
      </div>
    </a>
  </div>
  <div id="pri_collapse_5" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      Peau de Fée会采取一切合理的方法确保有关网站所包含信息的准确性。然而，Peau de Fée对有关网站内容的错误或遗漏概不负责，以及并不保证在有关网站上所提供信息的准确性、完整性或适时性。在有关网站上所提供的信息只供参考，故不应以该等信息作为依据，以及该等信息或须作进一步修改、详细规格说明及进一步谘询，等。在有关网站上所提供的信息可在任何时间进行修改而不须事先通知。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_6" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        6.更新您的个人信息及选择不接受市场推广通讯
      </div>
    </a>
  </div>
  <div id="pri_collapse_6" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      若您有意更新您的个人信息，您可接达您的网上个人档案（如果您已存有个人档案并拥有权限）并更改您的输入记项。否则，您可与我们取得联络，以协助您更新您的个人信息。  您可藉发送电邮至customer@peaudefee.com，或藉运用我们在市场推广电邮上的不收取链接，选择不收取市场推广电邮。敬请注意，任何取消订阅的申请，需时六至八个星期方告生效。若您希望取消订阅的不仅是电子邮件邮，还包括其它所有形式的市场推广通讯，请电邮（同上）与我们联络。  即使您选择不接受市场推广通讯，我们仍可联络您，以便向您发送有关您的个人档案的运作或管理的重要信息或其他非市场推广信息。有关我们对有关网站政策的额外信息，请参阅法律声明。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_7" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        7.司法管辖权
      </div>
    </a>
  </div>
  <div id="pri_collapse_7" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      任何对有关网站内容或使用上的争议应受中华人民共和国实质法律管辖，而任何该等诉讼的司法管辖权及地点应完全归于中国人民法院。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_8" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        8.其他事项
      </div>
    </a>
  </div>
  <div id="pri_collapse_8" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      您认知及同意此等条款连同我们的私隐政策，构成您与Peau de Fée之间就使用有关网站方面的整体协议。  Peau de Fée可随时修改此等条款并将之公布于有关网站。任何修改于公布后立即生效。若您仍继续使用有关网站，即表示您同意任何经修订的条款。Peau de Fée保留在任何时间对此等使用条款及条件和私隐政策作出诠释的权利。  您应遵守任何中国法律及规例，包括但不限于与互联网有关的该等中国法律及规例。在任何情况下，如果Peau de Fée有理由相信您的任何行为可能违反任何中国法律及规例或此等使用条款，Peau de Fée可按我们的独有酌情决定权，在无须给予任何事先通知下拒绝提供服务、终止帐户及您对有关网站的使用。  有关网站并无计划提供任何与肌肤或其他方面相关的医学资讯。  当您使用有关网站即表示您了解并同意遵守使用条款及条件。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_9" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        9.您的私隐权利
      </div>
    </a>
  </div>
  <div id="pri_collapse_9" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      我们的客户有权索取我们可能已向联系人披露用作其市场推广用途或可能已向无联系第三方披露用作其市场推广用途的个人信息清单。客户可与我们联络及要求提供有关被分享个人信息和分享个人信息公司的总清单。客户可藉电邮至customer@peaudefee.com，以电子方式发出此要求。我们将在30天内回复此等提供清单的要求。透过其他渠道向我们提出索取此等信息的要求可能会引致延迟回复。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_10" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        10.联络我们
      </div>
    </a>
  </div>
  <div id="pri_collapse_10" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      若您对本私隐政策有任何疑问或意见，或若您希望我们更新我们所拥有关于您的任何信息，请按以下方式与我们联络：  发送电邮至customer@peaudefee.com。
    </div>
  </div>
</div>

<script>
$(function(){
  $('div.footer-modal').on('show.bs.collapse', function() {
    $(this).parent("div").find("i.glyphicon-menu-down").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
  });

  $('div.footer-modal').on('hide.bs.collapse', function() {
    $(this).parent("div").find("i.glyphicon-menu-up").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
  });
})
</script>
