<h3>产品购买相关</h3>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_1" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        怎样查看Peau de Fée产品的保质期？
      </div>
    </a>
  </div>
  <div id="pri_collapse_1" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      在包装完整未经开封的情况下，在符合规定的储存条件下，Peau de Fée所有产品在自生产日期起18个月内(因Peau de Fée不使用廉价的化学防腐剂，因此保质期远比大众护肤品短很多) 都能保持良好品质，限期使用日期标注在产品的背面标签上或瓶底，产品开封后，请尽快使用。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_2" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        哪里可以购买Peau de Fée产品？
      </div>
    </a>
  </div>
  <div id="pri_collapse_2" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      除在此官网、官方微店，Peau de Fée产品可于国内主要城市的部分高级五星级酒店、精品酒店或高级生活方式精品店购得，具体零售方及联络信息请查看“授权店铺”。非上述授权渠道购买的商品并非官方出品，Peau de Fée将不予承担换货、退货、退款等相关责任。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_3" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        商品是否可以换货？
      </div>
    </a>
  </div>
  <div id="pri_collapse_3" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      换货需满足以下全部政策：<br>
      1) 顾客在线下授权方购买商品时，若当场验明有包装破损或瑕疵，可凭当天商场小票或POS系统中的购买记录，换取同款商品。<br>
      2) 若由于缺货原因无法换取同款商品，可换取同价位的其他商品。<br>
      3) 欲换货的商品必须未经使用。<br>
      出于下述原因的退换或退款要求不予受理：<br>
      1) 不接受退换或退还缺少标签的商品。若该商品并非通过官方授权渠道购买，而是通过非官方方式购买，则Peau de Fée不承担任何换货、退款、退货责任。<br>
      2) 对于促销礼品、免费赠品等附赠商品不接受换货或退货请求。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_4" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        退换货是否一定要前往购买该商品的同一零售店？
      </div>
    </a>
  </div>
  <div id="pri_collapse_4" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      退换货时，应携带购物票据前往购买此商品的同一零售店。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_5" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        什么时候可以买到库存已售完的商品？
      </div>
    </a>
  </div>
  <div id="pri_collapse_5" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      商品一旦到货，官网及官方微店会自动恢复售卖，但不会发出任何提前通知。
    </div>
  </div>
</div>
<h3>网上礼品订单</h3>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_6" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我可以在网上订购礼品吗？
      </div>
    </a>
  </div>
  <div id="pri_collapse_6" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      可以，网上订购礼品的流程简易，您可前往品牌官网或者官方微店，挑选单品然后完成付款程序便可。于付款程序第一页确认订单中可选“作为礼品”，我们将附礼品卡送到您指定的收件人地址。注意如果礼品分别送给不同的收件人，请分单订购，以确保礼品独立包装和运送。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_7" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        礼品将如何包装？
      </div>
    </a>
  </div>
  <div id="pri_collapse_7" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      所有送货礼品均以Peau de Fée专有具有品牌特征的材料来进行精美包装，连衬里薄纸和外绑丝带蝴蝶结，并包含精美礼品卡。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_8" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        网上订购的礼品可以更换吗？
      </div>
    </a>
  </div>
  <div id="pri_collapse_8" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      可以。收件人可以退换礼品。如欲更换另一货品，请通过“联系我们”或电子邮件info@peaudefee.com来与我们取得联系进行更换。
    </div>
  </div>
</div>
<h3>递送与运送</h3>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_9" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        Peau de Fée提供中国以外地区的运送服务吗？ 
      </div>
    </a>
  </div>
  <div id="pri_collapse_9" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      不。我们暂时不提供中国地区以外的运送服务。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_10" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我的订单运送需时多久？ 
      </div>
    </a>
  </div>
  <div id="pri_collapse_10" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      我们力求订单确认后24小时内作运送。当您完成网上订购，您将会收到一封确认电邮。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_11" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我可以追踪订单吗？ 
      </div>
    </a>
  </div>
  <div id="pri_collapse_11" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      可以。顾客可凭订单确认电邮上的订单档号追踪订单状态。如果需要协助，请联系顾客服务部。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_12" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        网上订购收取运费吗？ 
      </div>
    </a>
  </div>
  <div id="pri_collapse_12" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      网上订购将享有免费运送服务。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_13" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        包裹抵达时必需签收吗？
      </div>
    </a>
  </div>
  <div id="pri_collapse_13" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      所有订购产品包裹必须于抵达时签收，确认您接受有关责任。如果收件人并非购买人，或者该包裹为礼品订单，您将接受收件人签名为运送抵达和订单完成确认，而且有关责任转移到收件人。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_14" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        如果我订购的货物在运输途中受损，我应该怎么做?
      </div>
    </a>
  </div>
  <div id="pri_collapse_14" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      在您签收任何包裹前，我们简易您事先打开包装检查物品，如果货物在运输途中受损，请您拒绝签收包裹，我们将联系送货商并即使为您发送新的货品。 请提交一份订单查询信息，以便我们查明您的订单的详细信息。
    </div>
  </div>
</div>
<h3>护肤问题</h3>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_15" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        Peau de Fée产品在孕期是否也可以放心使用?
      </div>
    </a>
  </div>
  <div id="pri_collapse_15" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      我们理解许多女性在孕期会寻求安全系数高的产品来替代，孕期按照我们的说明使用任何Peau de Fée配方产品均不会有任何风险。我们致力于提供准确的信息，但是，这些信息不能取代您执业医师的意见。如果您对您的特殊情况有任何疑虑，我们建议您咨询产科或肌肤科医师。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_16" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        Peau de Fée产品是否有保质期?
      </div>
    </a>
  </div>
  <div id="pri_collapse_16" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      产品的标签上标注这未开封保质期（通常为18个月），以及开封后保质期——生产信息旁边有一个“开盖”模式的图标，中间有数字，这个图标中的数字会告诉您产品在开瓶后还可以使用几个月。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_17" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        如果我对某种Peau de Fée产品有不良反应该怎么办?
      </div>
    </a>
  </div>
  <div id="pri_collapse_17" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      不论在某种产品中所占的含量比例如何，使用方法如何，所有化妆品成份都有可能会刺激敏感性肌肤。炎症有时候会发生在我们日常生活的正常过程中，甚至是在我们已经安然使用某种产品多年之后。某种反应的触发因素可以是突发性的，并且未必会以同样的方式重复发生。在此情况下，我们建议您回想一下可能引起这一反应的日常生活习惯变化（饮食，接触可能的过敏源等）。
      <br>
      在接触任何化妆品后发生不良反应时，最得当的措施是立即停止使用，如有必要，您可咨询医生， 核实是否发生了炎症或过敏。 虽然这不太可能发生，但是万一您对某种Peau de Fée产品有不良反应，请停止使用，您可随时联系我们(email至customer@peaudefee.com)，告知我们相关的具体情况。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_18" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我应该如何存放Peau de Fée产品?
      </div>
    </a>
  </div>
  <div id="pri_collapse_18" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      护肤品应存放在阴凉处或冰箱中，避免阳光直射，无论其包装如何。 <br>
      Peau de Fée产品的标签上生产信息旁边有一个图标。这个图标会告诉您产品还可以使用几个月。最好用干净的手蘸取瓶中的护肤品，或者用一个小茶匙或小刮铲来取用产品。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_19" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我如何获得个性化的产品建议?
      </div>
    </a>
  </div>
  <div id="pri_collapse_19" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      我们建议您直接发邮件至customer@peaudefee.com或者Peau de Fée零售商处，进行面对面咨询。咨询可以帮助您确定哪款产品最适合您的肌肤。我们竭尽所能在本网站上提供每种产品的丰富信息。每种产品都有配套的最佳使用方法说明等具体信息。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_20" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        Peau de Fée产品是有机的还是天然的?
      </div>
    </a>
  </div>
  <div id="pri_collapse_20" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      对于一个产品是否有机或是天然的，或者‘纯’这个概念，在当下市场的许多产品都是不负责任的宣称。因此我们不去宣扬有机或者天然的概念。
      <br>
      Peau de Fée产品系列不完全是有机的或者天然的，产品配方含实验室研制的成份，结合优质植物萃取配制而成的，竭力避免使用对人体或皮肤存在潜在危害的合成物质。成分包含从有机种植植物的萃取，也包含农民采用非有机方法种植的各种成份。我们的愿景，是确保Peau de Fée产品采用优质成份制成，并在每个配方中最大化其天然萃取成分的比例。所有Peau de Fée产品均不含对羟基苯甲酸酯类、甲醛、矿物油、石蜡、凡士林、十二烷基醚硫酸钠、丙二醇或聚乙二醇、合成色素及人造香氛等物质；同时拒绝采用转基因成分。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_21" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        Peau de Fée如何看待可持续性包装？
      </div>
    </a>
  </div>
  <div id="pri_collapse_21" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      Peau de Fée注重包装美感，但更关注产品本身的质量。我们采用实用、简单的可回收的包材。我们提倡循环再利用，因此建议您将用过的Peau de Fée容器用于其他居家用途。对于任何您用不上的Peau de Fée包材，我们建议您将其与其他可回收废弃物一起放入回收桶中。我们和所有有责任心的公司一样，一贯致力于减少环境足迹，改善运营。这一过程不乏挑战，但我们正以尽可能诚信、透明的方式改进包装。
    </div>
  </div>
</div>
<h3>网站账户咨询</h3>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_22" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我是否需要有Peau de Fée帐户才能下订单?
      </div>
    </a>
  </div>
  <div id="pri_collapse_22" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      您无须创建帐户也可以网上购物，您可以访客身份购物。
      <br>
      不过，创建帐户使您可以更快速地完成购物流程：您可以保存个人信息，保存多个交货地址，浏览历史订单，更新订阅信息，接收Peau de Fée客户活动特别邀请函以及新产品信息。创建帐户只需两分钟，简易便捷，客户可点击这里创建。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_23" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        如何重置我的密码?
      </div>
    </a>
  </div>
  <div id="pri_collapse_23" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      您可以选择登录页面的‘忘记密码’链接重置您的密码。
    </div>
  </div>
</div>
<div class="panel panel-default no-mb no-border-bottom">
  <div class="panel-heading no-border no-padding-left dark-border" role="tab">
    <a data-toggle="collapse" data-parent="#accordion" href="#pri_collapse_24" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
      <div class="panel-title normal-font">
        <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
        我如何在网上购物时增强安全性?
      </div>
    </a>
  </div>
  <div id="pri_collapse_24" class="panel-collapse collapse footer-modal" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      Peau de Fée竭力确保您在访问我们网上商店时个人资料的安全性，但是，我们仍建议客户采用额外的安全措施来增强网络安全性。<br>
      具体措施包括：<br>
      - 确保您的网页浏览器更新到了最新版本。<br>
      - 选择独特的密码，对其保密并且经常更换。<br>
      - 购买信誉好的防病毒软件，并且确保安装了所有更新版本。<br>
      如果您担心遭遇了欺诈，请立即联系银行，确保冻结您的信用卡。<br>
    </div>
  </div>
</div>

<script>
$(function(){
  $('div.footer-modal').on('show.bs.collapse', function() {
    $(this).parent("div").find("i.glyphicon-menu-down").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
  });

  $('div.footer-modal').on('hide.bs.collapse', function() {
    $(this).parent("div").find("i.glyphicon-menu-up").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
  });
})
</script>
<style type="text/css">
  h3 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
</style>
