<div class="row with_bg2">
  <div class="col-md-8 col-md-offset-2">
    <div class="page_board">
      <div class="page_page">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 page_content">

            <div class="panel panel-default no-mb">
              <div class="panel-heading page_title no-mb" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
                  <h3 class="panel-title text-center">
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
                    <strong> 臻纯植物油成分</strong>
                  </h3>
                </a>
              </div>
              <div id="collapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body white-bg">
                  <p class="text-center"><strong>Key Plant Oils　</strong></p>
                  <br>
                  甜杏仁油 Sweet Almond Oil<br>
                  富含多元不饱和脂肪酸、维他命D、E与蛋白质等物质能柔软肌肤、保湿、专治皮肤发痒、红肿、干燥与面疱。具有隔离紫外线的作用。婴儿适用。<br>
                  <br>
                  摩洛哥坚果油 Argan Oil<br>
                  保湿和修复肌肤，并促进其弹性的增加。含有极为丰富的必需脂肪酸和维生素E (高于任何其他油之3倍之多)，消除自由基，防止皮肤的生理老化；并帮助肌肤抵御环境侵害，如: 寒风、集中供热、尘土、空气污染和烈日。<br>
                  <br>
                  牛油果 Avocado Oil<br>
                  又称“酪梨油”，营养价值极高。具有高含油量及丰富维他命、叶酸、铁和钾等，性质温和，能卓效修护天然皮脂膜，滋养干燥缺水肌肤，恢复肌肤水润；对于暴露在紫外线下的受损肌肤有瞬间填补、维护的作用；强化保湿屏障，迅速提升肌肤水润度并长久锁水，深度滋润肌肤。<br>
                  <br>
                  可可油 Cocoa Butter<br>
                  具有卓越的滋润和柔软肌肤的功效。<br>
                  <br>
                  初榨橄榄油 Virgin Olive Oil<br>
                  可帮助皮肤恢复自然弹性，保持水分，滋润及保养肌肤，并可延缓皱纹出现，减缓皮肤老化速度。同时具有卓越的洁面效果，并可预防皮肤疾病，敏感皮肤的人也可以放心使用。<br>
                  初榨椰子油 Virgin Coconut Oil<br>
                  椰子树素有“生命之树”之称。椰子油则是一种高效的润肤露和按摩油，且可滋养及柔软肌肤的功效显著，亦适用于毛发。<br>
                  <br>
                  乳木果油 Shea Butter<br>
                  乳木果油富含不饱和脂肪酸，具有非凡的深层滋润功能。可有效防止肌肤的水分流失、改善干裂肌肤、增加肌肤的防御能力与柔软度、恢复并保持肌肤的自然弹性。更有助细胞更生及促进微血管循环；它有助修护秀发、强化其组织，令秀发柔顺亮丽，对干燥、受损、经电烫或漂染的发丝尤其有效。同时，亦可滋养干燥的头皮，从而改善头皮屑的问题。预防妊娠纹的形成，增加皮肤弹性。<br>
                  葵花油 Sunflower Oil<br>
                  葵花油所含的高脂质成分加强肌肤屏障的功效，在欧洲一直被安心用于新生儿沐浴。其卓越的平滑性能，富含不饱和脂肪酸，亦为“必须脂肪酸”，有助于滋润肌肤，日趋健康。<br>
                  <br>
                  玫瑰果油 Rosehip Seed Oil<br>
                  质地轻盈。修护、保湿并平衡肌肤。富含丰富的亚油酸，帮助肌肤锁水，具有良好的滋润效果。<br>
                  <br>
                  石榴籽油 Pomegranate Seed Oil <br>
                  富含抗氧化因子，有效清楚人体自由基、促进细胞再生并延缓衰老。保湿性能优良，并可促进血液循环与皮肤细胞的新陈代谢，增强细胞的活力；调节脂肪代谢，并可促进排除体内毒素。增加毛发的滋润度与亮泽度。<br>
                  <br>
                  小麦胚芽油 Wheat-germ Oil<br>
                  保湿并润泽皮肤。含有丰富的维他命E，平衡荷尔蒙。亦是一种很强效的天然抗氧化剂，能清除自由基，促进新陈代谢和皮肤更新，延缓老化；具有调节内分泌、防止色斑、黑斑及色素沉着，并可减少肌肤的疤痕，消除痘印。<br>
                  <br>
                  苨苜油 Neem Oil<br>
                  具有多种疗效的印度传统药草，具有“奇迹树”的美名。可抗菌和抑制病毒，预防感染。<br>
                  <br>
                  蓖麻油 Castor oil<br>
                  富含抗氧化剂及脂肪酸，具有天然保湿功效，并缓解皱纹产生。可使头发浓密、贱坚韧有光泽。<br>
                  <br>
                  荷荷芭油 Jojoba oil<br>
                  素有“神奇的灌木”的意喻。含丰富的多种维生素、矿物质和蛋白质，是很好的滋润及保湿佳品，是完美的护肤与护发的天然保养成分。脸部、身体按摩及头发的保养。有效维护皮肤水分，亦可畅通毛细孔、软化皮肤并预防皱纹和老化；增进秀发对外界湿润的吸收和维持，改善粗糙的发质，在防止头发晒伤及柔软头发外，可帮助头发乌黑及预防分叉。<br>
                  <br>
                  葡萄籽油 Grape Seed Oil<br>
                  可攻克多种皮肤问题的植物油。它同时具有美白、保湿、祛斑、祛皱、增加肌肤弹性的功效。其卓越的抗氧化功能是维生素C的20倍，延缓皮肤衰老。并可促进细胞新陈代谢，恢复活力肌肤的健康光泽。<br>
                  <br>
                  月见草油 Evening Primrose Oil<br>
                  含有丰富不饱和脂肪酸，亦是人体及皮肤的“必需脂肪酸”，让皮肤更光滑更有活力。增加皮肤水分含量，改善干燥肌肤，有效保湿滋润。<br>
                  绣线菊（白芒花籽）油 Meadowfoam Seed Oil<br>
                  具有很高的抗氧化能力，具长效柔软、保湿及滋润作用，护肤护发皆可。卓越的保湿滋润能力,超越多数的植物油。亦可控制皮脂,抑制释放皮脂以避免毛孔受阻塞。<br>
                  金盏花油 Calendula Oil<br>
                  即有优异的抗发炎的特性和强大的润肤作用，有助于舒缓和镇静皮肤发炎；并用于清洁、软化和舒缓肌肤。亦可帮助肌肤对抗干裂和日晒而引起的衰老迹象。<br>
                  <br>
                  山金车油 Arnica Oil<br>
                  提升面部气色、祛除痘印、减退黑眼圈症状；有益头皮保养，去头屑；暖身活血，并具有良好的化淤之功效。
                </div>
              </div>
            </div>

            <div class="panel panel-default no-mb">
              <div class="panel-heading page_title no-mb" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_2" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
                  <h3 class="panel-title text-center">
                    <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
                    <strong>植物萃取成分</strong>
                  </h3>
                </a>
              </div>
              <div id="collapse_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body white-bg">
                  <p class="text-center"><strong>Key Botanical Extracts</strong></p>
                  <br>
                  迷迭香Rosemary Extract<br>
                  提亮肤色，缓减肌肤干燥；并可紧实皮肤。<br>
                  <br>
                  栀子 Gardenia Extract<br>
                  含有优越的抗发炎、保湿效果，给予肌肤天然的修复与润泽。<br>
                  <br>
                  多莲 Myrtle<br>
                  又名“桃金娘果”，富含维生素C及氨基酸（胶原蛋白的基本构造）。提供皮肤免疫功能，调节水分、酸碱、平衡油脂，有改善敏感性皮肤的抗敏能力；抵抗自由基，延缓肌肤衰老。活化细胞，告别暗哑，具有高效保湿机能，保持肌肤润泽，回复肌肤弹力。<br>
                  紫苏 Perilla<br>
                  含有丰富的维生素C、钾、铁等，及丰富的不饱和脂肪酸，协助免疫功能的正常运作；有缓和过敏性皮炎、花粉症等过敏反应的作用。紧实肌肤，平衡油脂分泌。<br>
                  <br>
                  白花百合 Madonna Lily<br>
                  含磷脂类、蛋白质、氨基酸等多种有效成份，可持久滋润并供给肌肤所需营养；有效补充水分，并可深入肌肤底层，打破肌肤黝黑循环，使肌肤更加白皙明亮，持续保湿，莹透白嫩，有效避免强烈紫外线照射，淡化色斑。抑制酪氨酶活性及黑色素细胞的生成。<br>
                  <br>
                  木贼草 Horsetail<br>
                  促进胶原蛋白的形成、保湿抗皱；缩小毛孔并细致肌肤；恢复肌肤弹力。具有护发功效：去头屑并长效柔软秀发；富含多种矿物质及维生素C+P; 抗氧化、对抗自由基；<br>
                  <br>
                  聚合草 Comfrey<br>
                  具有强大的皮肤愈合功能，对干燥，甚至皲裂的皮肤具有良好的效果；含有尿囊素的成分，可以刺激新细胞生长。<br>
                  荨麻 Nettle Root Extract<br>
                  具有抗敏、防晒、祛斑与保湿的护肤功效。<br>
                  忍冬 Honeysuckle<br>
                  通过减少自由基损害，修复肌肤，使其肌肤细嫩白滑、紧实细腻，并可舒展粗纹，淡化细纹，延缓衰老。此外，还可减少电脑辐射对肌肤损害。亦适用于秀发保养。<br>
                  燕麦 Oatmeal<br>
                  富含丰富的维生素、充足的矿物质和丰硕的植物脂肪，充分满足滋养肌肤及秀发的需求。平衡皮肤的PH值，减轻皮肤发痒症状；兼具抗炎和抗氧化功能，非常适合敏感皮肤；吸除多余的油脂，缓解头皮发痒。并可增加秀发韧性、改善发质。<br>
                  蜂蜜 Honey<br>
                  富含多种生物活性物质，可有效的补给皮肤营养，使皮肤光洁细腻、莹润紧致；亦可祛斑、减少皱纹。<br>
                  <br>
                  绿茶萃取 Green Tea Extract<br>
                  富含高效抗氧化功能的茶多酚，有助保护肌肤免受环境侵害，令肌肤保持柔滑均匀，并富有光泽。能很好的让皮肤光洁、细嫩，帮助肌肤很好的减少皱纹，紧缩面部皮肤；此外还具有非常不错的祛斑功效，补水保湿。<br>
                  <br>
                  葡萄籽萃取 Grape Seed Extract<br>
                  富含天然抗氧化物，帮助肌肤抵御环境的侵害。其具有锁水功能，可帮助改善肤质，保持肌肤的柔滑与滋润。<br>
                  <br>
                  澳洲坚果籽萃取 Macadamia Ternifolia Seed Extract<br>
                  富含矿物质、维生素、蛋白质和多重不饱和脂肪酸。保湿并滋养肌肤、具有抗氧化、防辐射以及抗衰老的功效。<br>
                  <br>
                  芦荟 Aloe<br>
                  自古以来，芦荟就因为其具有多种神奇功效而被称为“大自然的急救包”。它含有75种以上的营养成分和200种以上的活性成分。丰盈的水分含量，能够清爽并滋润肌肤。美白去斑、抗衰老、防过敏的功效。天然的抗氧化剂，能有效抑制自由基；并可平衡、抑制皮脂分泌，促进伤口愈合。
                </div>
              </div>
            </div>

            <div class="panel panel-default no-mb">
              <div class="panel-heading page_title no-mb" role="tab">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle ">
                  <h3 class="panel-title text-center">
                      <i class="indicator glyphicon glyphicon-menu-down pull-right" style="color: grey; font-weight: normal;"></i>
                      <strong>疗愈级别纯精油</strong>
                  </h3>
                </a>
              </div>
              <div id="collapse_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body white-bg">
                  <p class="text-center"><strong>Premium Pure Essential Oils</strong></p>
                  <br>
                  檀香精油(印度)  Sandalwood Essential Oil  -India<br>
                  Santalum Album<br>
                  稳定、优雅、甜甜的木香带有神秘的东方情调，留香持久。具有良好的保湿滋润效果，可调理干燥皮肤、延缓皮肤老化。并对痤疮、皮炎、感染的皮肤有很好的消炎作用。其香味可以让人放松、保持心灵的平静、减轻压力。<br>
                  <br>
                  马丁香精油(印度)  Palmarosa Essential Oil  -India<br>
                  Cymbopogon Martini<br>
                  具有玫瑰般甜美的气味，具有良好的保湿效果，并缓解皱纹产生。安抚、舒爽情绪。<br>
                  <br>
                  白兰花精油(西班牙)  Michelia Essential Oil  -Spain<br>
                  Michelia Alba<br>
                  亮白肤色、改善肌肤不均；平衡油脂分泌，祛痘并可镇定神经。<br>
                  <br>
                  依兰依兰精油(马达加斯加)  Ylang Ylang Essential Oil  -Madagascar<br>
                  Cananga Odorata<br>
                  适用于干性及油性肌肤，可平衡皮脂分泌、调节皮肤水分并美白；且有育发、护发的作用。有助于平衡荷尔蒙，同时可舒解消极情绪、放松神经系统，使人感到欢愉。<br>
                  <br>
                  柠檬草精油(印度)  Lemongrass Essential Oil  -India<br>
                  Cynbopogon Citratis<br>
                  柠檬草精油具有抗菌、收敛、清除粉刺并舒缓破损或发炎皮肤。其作为按摩油时，可消除身体脂肪团。调节平衡皮肤油脂、对毛孔粗大颇有效。有助于回复活力、促进病体痊愈，是身体全方位的补药。<br>
                  <br>
                  甜橙精油(巴西)  Orange Essential Oil  -Brazil<br>
                  Citrus Sinensis<br>
                  镇静作用显著，可驱离紧张情绪和压力、改善焦虑所引起的失眠；含有大量的维他命Ｃ，能预防感冒、对皮肤有保湿效果、平衡皮肤的酸碱值；可帮助胶原形成，对于身体组织的生长与修复有良好的功效。促进皮肤排毒素，对油性、暗疮或干燥皮肤者皆有帮助。<br>
                  <br>
                  薄荷精油(中国)  Peppermint Essential Oil    -China<br>
                  Mentha Piperita<br>
                  消炎、抗菌、清新、补充能量。改善湿疹、癣、疥疮和瘙痒；可收缩微血管、舒缓发痒、发炎和灼伤，也可柔软肌肤、调理不洁与阻塞、清除黑头粉刺，其药性亦能协助排除淤积的体内毒素。<br>
                  <br>
                  迷迭香精油(法国)  Rosemary Essential Oil    -France<br>
                  Rosmarinus Officinalis<br>
                  具有较强的收敛作用，调理油腻不洁的肌肤，促进血液循环，刺激毛发再生；减轻皮肤充血与浮肿；可以强效地收敛，紧实，防皱及调节皮质的作用。<br>
                  <br>
                  熏衣草精油(法国)  Lavender Essential Oil    -France<br>
                  Lavandula Angustifolia<br>
                  安定情绪、抗菌、消炎、平衡皮肤油脂分泌、活化并促进细胞再生，其治灼伤与晒伤的功效名闻遐迩。可全方位改善问题肌肤。<br>
                  <br>
                  玫瑰天竺葵精油(埃及)  Rose Geranium Essential Oil   -Egypt<br>
                  Pelargonium Graveolens<br>
                  卓越的平衡油脂的功效, 并使皮肤饱满, 红润有活力；适合各种皮肤，对松垮、毛孔阻塞及油性皮肤尤其适用。<br>
                  <br>
                  橙花精油(突尼斯)  Neroli Essential Oil     -Tunisia<br>
                  Citrus Aurantium<br>
                  有效助睡眠，使人精神欢愉；减轻焦虑、消极情绪，安抚心灵。促进细胞再生，增强皮肤弹性，深层滋养，美白嫩肤。其性质安全温和，孕妇在孕期以此按摩腹部，可削减妊娠纹。<br>
                  <br>
                  柠檬精油(意大利)  Lemon Essential Oil  -Italy<br>
                  Citrus Limonum<br>
                  提振精神，帮助思绪的澄清、消除倦怠感。富含维B、C，并具有天然果酸，能够改善油性皮肤，起到洁肤、美白、收敛和平衡油脂的作用；也可以去除老死肌肤，有效地抗皱、亮肤；此外，还能够淡化黑色素、改善斑点、紧实微血管以及促使胶原蛋白的产生。可以软化结疤组织。<br>
                  <br>
                  茉莉精油(印度)  Jasmine Essential Oil   -India<br>
                  Jasmin Sambuc<br>
                  其香味具有提振情绪，带来欢愉的感受，给人一种青春的活力。可改善敏肌肤和干燥现象、延缓皮肤老化、改善皮肤松弛、增强肌肤活力。修复并平衡荷尔蒙分泌、促进新陈代谢，恢复体质。<br>
                  <br>
                  佛手柑精油(意大利)  Bergamot Essential Oil   -Italy<br>
                  Citrus Bergamia<br>
                  减缓抑郁、不安和紧张等情绪。具有强大的抗感染、净化杀菌的功效，特别适合油性与问题肌肤；同时保护肌肤清爽温润。<br>
                  <br>
                  葡萄柚精油(意大利)  Grapefruit Essential Oil   –Italy<br>
                  Citrus Paradisii<br>
                  具有抗菌抑菌、清爽净化的功效，适合油性肌肤。帮助缓解肌肤发炎并刺激淋巴循环，有助于体内毒素的排除，进而促进脂肪的削减。具有强大的抗抑郁功效，让身体及心灵沐浴阳光的温暖。<br>
                  <br>
                  玫瑰精油(保加利亚)  Rose Essential Oil  -Bulgaria<br>
                  Rosa Damascena<br>
                  适用于所有的肌肤类型，特别有益于成熟、干燥硬化或敏感的皮肤。可恢复肌肤弹性、增加紧实与滋润度。舒缓发炎症状。<br>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('div.panel-collapse').on('show.bs.collapse', function() {
    $(this).parent("div").find("i.glyphicon-menu-down").removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
  });
  $('div.panel-collapse').on('hide.bs.collapse', function() {
    $(this).parent("div").find("i.glyphicon-menu-up").removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
  });
})
</script>

<style>
.collapsing { transition: height 3s; }
</style>
