<% if target && target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation" data-hook>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
